{{ with .Site.Params.links }}
  <section class="flex flex-row flex-wrap justify-center pt-4 text-xl">
    {{ range $links := . }}
      {{ range $name, $url := $links }}
        <a
          target="_blank"
          class="m-1 rounded bg-neutral-300 p-1.5 text-neutral-700 hover:bg-primary-500 hover:text-neutral dark:bg-neutral-700 dark:text-neutral-300 dark:hover:bg-primary-400 dark:hover:text-neutral-800"
          href="{{ $url }}"
          title="{{ $name | title }}"
          aria-label="{{ $name | title }}"
          rel="me noopener noreferrer"
        >
          {{ partial "icon.html" $name }}
        </a>
      {{ end }}
    {{ end }}
  </section>
{{ end }}
